click==6.7
Flask==1.0
Flask-OAuthlib==0.9.3
Flask-WTF==0.14.2
gunicorn==19.7.1
httplib2==0.10.3
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==1.0
oauth2==1.9.0.post1
oauthlib==2.0.2
requests==2.20.0
requests-oauthlib==0.8.0
six==1.10.0
virtualenv==15.1.0
Werkzeug==0.15.3
WTForms==2.1
yelp==1.0.2
