<html>
    <head>
        <meta name="description" content="Welcome to Alive Web App" >
        <meta name="keywords" content="restaurant, search, suggestions" />
        <title>Welcome to Alive Web Application</title>
    </head>

    <body bgcolor = "silver">

        <center>
            <font size="14"> Welcome to Alive! </font>
            <h1> Lets make some plans together </h1>
            <form action='/GETZipCode/50' method="post">
                <b> <font size="4"> Enter Local 5 Digit Zip Code: </font> </b><br />
                <input type="text" name="zipCode" size=20><br />
                <input type="submit" value="submit">
            </form>
        </center>

    </body>

</html>
