<html>
    <head>
        <meta name="description" content="Welcome to Alive Web App" >
        <meta name="keywords" content="restaurant, search, suggestions" />
        <title>Welcome to Alive Web App</title>
    </head>

    <body bgcolor = "silver">

        <center> <font size="14"> Welcome to Alive! </font> </center>
        <center> <h1> Lets make some plans together <h1> </center>

        <form action=__Main__.py method="post">
            <center> <h2> Enter Local 5 digit Zip Code </h2> </center><br />
            <center> <input type="text" name="zipCode" size=25><br /> </center>
    </body>

</html>
